from easy_api.service.task import run_in_worker


@run_in_worker("{{ package_name }}", "{{ task_name }}")
def run(name: str, **__) -> str:
    """ run {{ task_name }}
    """
    return f"hello {name}"
