import os.path
from abc import ABC

from {{ package_name }}.handler import api
from {{ package_name }}.service import {{ sql_name }}
from {{ package_name }}.authorize import authorize
from easy_api.schema import SqlPagingResult, response_schema, request_schema
from easy_api.web import Handler

file_dir = os.path.dirname(os.path.abspath(__file__))
schema_file = os.path.join(file_dir, "schema/{{ sql_name }}.json")
sql_jinja = """{{ sql_jinja }}"""
{% set sql_upper_name = sql_name.title().replace('_', '') %}


@api('/{{ sql_name }}')
class {{ sql_upper_name }}Handler(Handler, ABC):

    @authorize("{{ package_name }}", "{{ sql_name }}")
    @response_schema(SqlPagingResult)
    @request_schema("input_dict", schema_file=schema_file)
    async def post(self, input_dict: dict) -> SqlPagingResult:
        """
        ---
        tags: [{{ package_name }}]
        summary: {{ nickname }}
        """
        return await {{ sql_name }}.run(input_dict)
